
<web-app xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd" >
  <display-name>Archetype Created Web Application</display-name>

<servlet>
  <servlet-name>IndexController</servlet-name>
  <servlet-class>com.maven.IndexController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>IndexController</servlet-name>
  <url-pattern>/IndexController</url-pattern>
</servlet-mapping>
</web-app>
